main
{
    min-height: calc(100vh - 12rem);
    height: auto;

    margin: 0 20%;
    padding: 0 5%;

    padding-top: 5rem;

    background-color: var(--bg-color-main);
    text-shadow: var(--text-shadow);
}

