@if (login.user === null)
{
}
@else
{
<div class="user-head">
  <div class="user-profile">{{ get_user_profile() }}</div>
  <h3>{{ login.user.name }}</h3>
  </div>
  <div class="user-body">
    <div class="user-element">
      <table>
        <tr>
          <th>E-mail</th>
          <td>{{ login.user.email }}</td>
        </tr>
        <tr>
          <th>Country</th>
          <td>{{ login.user.country }}</td>
        </tr>
        <tr>
          <th>City</th>
          <td>{{ login.user.city }}</td>
        </tr>
        <tr>
          <th>Time zone</th>
          <td>Europe/Stockholm</td>
        </tr>
      </table>
    </div>
    <div class="user-element">
      <ul>
        <li>1IK161 - Grundläggande Programmering</li>
        <li>1IK162 - Objektorienterad Programmering och datastrukturer</li>
        <li>1IK163 - Utveckling av webbaserade applikationer</li>
        <li>1IK172 - Introduktion till dataanalys</li>
      </ul>
    </div>
</div>
}
